.App {
  text-align: center;
  background-color: #333333;
}

.App-header {
  background-color: #37a5ff;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  color: black;
}

.home {
  margin: 0 10vw;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card {
  width: 80vw;
  height: 50vh;
  background-color: rgb(249, 253, 253);
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 20px;
}

.card-right {
  width: 100px;
  height: 100px;
  float: right;
  margin: 0 50px;
}

.card-left {
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.card-left span {
  font-weight: bolder;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  justify-content: space-around;
  align-items: space-evenly;
}
.changePage {
  color: white;
  background-color: #333333;
  border: none;
  font-size: 20px;
  font-style: 700;
}
.buttons {
  background-color: #218fc2;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 15px;
  cursor: pointer;
  border-radius: 15px;
}
